@font-face {
  font-family: Assassin;
  src: url(assets/fonts/Assassin$.ttf);
}

@font-face {
  font-family: Regular;
  src: url(assets/fonts/Bebas-Regular.ttf);
}

@font-face {
  font-family: FCText;
  src: url(assets/fonts/Fancy\ Card\ Text.ttf);
}

.App {
  text-align: center;
}
